<div class="nav-scroller py-1 mb-3 border-bottom">
    <nav class="nav nav-underline justify-content-between">
        <% for (let i=0; i<data.length; i++) {%>
            <button type="button" class="nav-item nav-link link-body-emphasis" id="'<%= data[i] %>'" onclick="requestNews('<%= data[i] %>')"><%= data[i] %></button>
        <%}%>
    </nav>
</div>