<form>
    <div class="mb-3">
        <label for="shortener-input" class="form-label">Long URL</label>
        <input type="text" class="form-control" id="shortener-input" aria-describedby="shortener-help">
        <span class="visually-hidden" id="message-error" style="color: red;"></span>
        <div id="shortener-help" class="form-text">Your url goes here.</div>
    </div>
    <div class="mb-3">
        <label for="shortened-url" class="form-label">Short URL</label>
        <input type="url" class="form-control" id="shortened-url">
    </div>
    <button type="button" class="btn btn-primary" onClick="shortenUrl()">Shorten URL</button>
</form>